
@{
    ViewBag.Title = "Peaks";
}

<h2>Peaks</h2>

You have @ViewBag.activities activities on Strava.

You have @ViewBag.newActivities new activities.

The nearest peak to your most recent activity is @ViewBag.nearestPeak, which is @ViewBag.distance meters away from the start. It is @ViewBag.height meters high. 